@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

.info-bar {
    background-color: #F5F5F5;
    padding: 10px 0;
}

.info-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-bar .container .info-bar-left p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.info-bar .container .info-bar-right {
    display: flex;
    align-items: center;
}

.info-bar .container .info-bar-right .info-bar-right-item {
    display: flex;
    align-items: center;
    border-left: 1px solid #D9D9D9;
    padding: 0px 15px;
    gap: 10px;
}

.info-bar .container .info-bar-right .info-bar-right-item:first-child {
    border-left: none;
}

.info-bar .container .info-bar-right .info-bar-right-item p {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

.info-bar .container .info-bar-right .info-bar-right-item p span {
    font-weight: 600;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

nav .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

nav .container .search-bar {
    position: relative;
    width: 507px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #f3f9fb;
    padding: 0 15px;
}

nav .container .search-bar img,
.user-login-basket-item img {
    cursor: pointer;
}

nav .container .search-bar input {
    position: absolute;
    left: 45px;
    width: 400px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
}

nav .container .search-bar input::placeholder {
    color: #666666;
    font-weight: 400;
}

nav .container .user-login-basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .user-login-basket .user-login-basket-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #D9D9D9;
    padding: 0 15px;
}

nav .container .user-login-basket .user-login-basket-item:last-child {
    border-right: none;
}

.select-bar {
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    padding: 15px 0;
}

.select-bar .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
}

.select-bar .container .selected {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 36px;
    border-radius: 18px;
    background-color: #F3F9FB;
    padding: 9px 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.select-bar .container .selected span {
    font-size: 14px;
    color: #222222;
    transition: all 0.3s ease;
}

.select-bar .container .selected img:nth-child(3) {
    display: none;
}

.select-bar .container .selected:hover img:nth-child(2) {
    display: none;
}

.select-bar .container .selected:hover img:nth-child(3) {
    display: block;
}

.select-bar .container .selected:hover {
    background-color: #008ECC;
}

.select-bar .container .selected:hover span {
    color: #fff;
}

main .container .main-content {
    position: relative;
    width: 100%;
    height: 316px;
    background-color: #212844;
    border-radius: 16px;
    margin: 20px 0;
}

main .container .main-content .main-content-img {
    position: absolute;
    right: 0;
}

main .container .main-content .main-content-img-left {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

main .container .main-content .main-content-img-right {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

main .container .main-content .main-content-sub-content {
    display: flex;
    justify-content: space-between;
}

main .container .main-content .main-content-sub-content .main-content-sub-content-text {
    width: 50%;
    padding: 30px 0px;
    margin-left: 100px;
}

main .container .main-content .main-content-sub-content .main-content-sub-content-text h3 {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
}

main .container .main-content .main-content-sub-content .main-content-sub-content-text h1 {
    font-size: 63px;
    font-weight: 700;
    color: #FFFFFF;
}

main .container .main-content .main-content-sub-content .main-content-sub-content-text img {
    margin-top: 80px;
    cursor: pointer;
}

main .container .main-content .main-content-sub-content .watch {
    position: absolute;
    z-index: 3;
    right: 130px;
    top: 23px;
}

.main-content-2 {
    margin-top: 80px;
}

.main-content-2-sub-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 50px;
}

.main-content-2-sub-content div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-content-2-sub-content h1 {
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    padding-bottom: 15px;
    border-bottom: 2px solid #008ECC;
}

.main-content-2-sub-content h1 span {
    color: #008ECC;
}

.main-content-2-sub-content div p {
    color: #222222;
    font-size: 16px;
}

.main-content-2 .main-content-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 12px;
}

.main-content-2 .main-content-cards .main-content-card {
    width: 248px;
    height: 330px;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    position: relative;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-text {
    padding: 20px;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-text h1 {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 10px;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-text div {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-text div span:nth-child(1) {
    color: #222222;
    font-weight: 700;
    font-size: 16px;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-text div span:nth-child(2) {
    color: #222222;
    font-weight: 400;
    font-size: 16px;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-text p {
    color: #249B3E;
    font-size: 16px;
    font-weight: 600;
}

.main-content-2 .main-content-cards .main-content-card:hover {
    border: 1px solid #008ECC;
    box-shadow: 0 6px 13px 0 #0000000D;
}

.main-content-2 .main-content-cards .main-content-card .main-content-card-img .skidka {
    position: absolute;
    width: 51px;
    height: 51px;
    background-color: #008ECC;
    color: #FFFFFF;
    top: 0;
    right: 0;
    border-bottom-left-radius: 16px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.main-content-2-sub-content-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main-content-2-sub-content-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-content-2-sub-content-2 div img {
    cursor: pointer;
}

.main-content-2-sub-content-2 div:first-child img {
    border-radius: 50%;
    border: 1px solid #008ECC;
}

.main-content-2-sub-content-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    gap: 30px;
    flex-wrap: wrap;
}

.main-content-2-sub-content-card {
    width: 389px;
    height: 207px;
    background-color: #313131;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 20px 0;
}

.main-content-2-sub-content-card-text {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.main-content-2-sub-content-card-text span {
    padding: 9px 20px;
    background-color: #494949;
    border-radius: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.main-content-2-sub-content-card-text img {
    margin-bottom: 20px;
}

.main-content-2-sub-content-card-text h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.main-content-2-sub-content-card .orqafon {
    position: absolute;
    top: 0;
    right: 0;
}

.main-content-2-sub-content-card .apple-phone {
    z-index: 1;
}

.main-content-2-sub-content-card:nth-child(2) {
    width: 389px;
    height: 207px;
    background-color: #FFF3CC;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 20px 0;
}

.main-content-2-sub-content-card:nth-child(2) .main-content-2-sub-content-card-text span {
    padding: 9px 20px;
    background-color: #F6DE8D;
    border-radius: 8px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.main-content-2-sub-content-card-text img {
    margin-bottom: 20px;
}

.main-content-2-sub-content-card:nth-child(2) .main-content-2-sub-content-card-text h2 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
}

.main-content-2-sub-content-card .orqafon {
    position: absolute;
    top: 0;
    right: 0;
}

.main-content-2-sub-content-card .apple-phone {
    z-index: 1;
}

.main-content-2-sub-content-card:nth-child(3) {
    width: 389px;
    height: 207px;
    background-color: #FFECDF;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 20px 0;
}

.main-content-2-sub-content-card:nth-child(3) .main-content-2-sub-content-card-text span {
    padding: 9px 20px;
    background-color: #FFD1B0;
    border-radius: 8px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.main-content-2-sub-content-card-text img {
    margin-bottom: 20px;
}

.main-content-2-sub-content-card:nth-child(3) .main-content-2-sub-content-card-text h2 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
}

.main-content-2-sub-content-card .orqafon {
    position: absolute;
    top: 0;
    right: 0;
}

.main-content-2-sub-content-card .apple-phone {
    z-index: 1;
}

.main-content-2-sub-content-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.main-content-2-sub-content-3 div img {
    margin-bottom: 20px;
    cursor: pointer;
}

.main-content-2-sub-content-3 div {
    text-align: center;
}

.main-content-2-sub-content-3 div p {
    color: #666666;
    font-size: 16px;
    font-weight: 600;
}

.main-content-2-sub-content-3 div h2 {
    font-size: 20px;
    color: #222222;
    font-weight: 700;
}

footer {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #008ECC;
    color: #FFFFFF;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    padding-top: 70px;
}

footer .container .footer-logo p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .container .footer-logo a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

footer .container .footer-logo a div {
    margin-bottom: 20px;
}

footer .container .footer-logo img {
    margin-bottom: 30px;
}

footer .container .lists {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-bottom: 50px;
    z-index: 1;
}

footer .container .lists p {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 30px;
    display: inline-flex;
}

footer .container .lists ul {
    line-height: 40px;
    margin-left: 20px;
}

footer .container .lists ul li {
    font-size: 16px;
}
footer .container .footer-info{
    width: 100%;
    text-align: center;
    border-top: 1px solid #05ABF3;
    padding: 20px 0;
}
footer .orqafon{
    position: absolute;
    top: 0;
    right: 0;
}